
.banner-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  filter: brightness(50%);

}
.carousel-btn
{
  background-color: rgba(0, 106, 167, 0.899);
}
.carousel-caption
{
  text-transform: capitalize;
  padding-left: 50px;
  text-align: start;
}
.banner
{
 left: 0;
  align-items: start !important;
  font-family: "Rubik",sans-serif;
  letter-spacing: 0.5px;
}
.carousel-control-next, .carousel-control-prev {
  width: 6%;
}
.banner-description
{
  margin: 5px;
}