
.video-panel
{
    height: 90vh;
    width: 100%;
}
.video-cards
{
  width: 100%;
  justify-content: space-evenly;
  gap:2%;
  scrollbar-width: none;
}
.search-box::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; 
    color: gray;
    padding-left: 5px;
  }
  .search-box{
    width: 80%;
  }