.video-card:hover
{
  height: auto;
  transform: scale(1.1);
  transition: all 0.3s ease;
  font-family: "Rubik", sans-serif;
}
.tag
{
  margin-bottom: 0px;
}
.video-title,.likes,.views
{
  color: rgb(223, 223, 223);
}
.video-card:hover .video-title
{
  color: black;
}
.video-card:hover .likes
{
  color: black;
}
.video-card:hover .views
{
  color: black;
}
.video-card:hover
{
  background-color: grey;
}
.thumbnail
{
  cursor: pointer;
}
.video-card
{
  font-family: "Rubik",sans-serif;
  letter-spacing: 0.5px;
}

.video-card:hover .watch-now
{
  display: block;
}
.video-card:hover .add-watchlist
{
  display: block;
}

.watch-now,.add-watchlist
{
  display: none;
}
